<footer>
	<div class='container'>
		<div class='copyright'>
		</div>
		<div class='powerby'>
		</div>
		<div class='copyright'>
		</div>
		<div class='friend-links clearfix'>
			<div class='link-item pull-left'>

			</div>
		</div>
	</div>
</footer>