<!DOCTYPE html>
<html>
  <head>
    <title><% sails.config.app.site_name  %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset='utf-8'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/highlight_js_github.css">
    <link rel="stylesheet" href="/styles/bangbangda.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.timeago.js"></script>
    <script src="/js/jquery.timeago.zh-CN.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!--SCRIPTS END-->
  </head>

  <body>
    <%- partial('_topbar.ejs') %>
    <%- body %>
    <%- partial('_footer.ejs') %>
  </body>
</html>
